<mat-card-content>
<div class="proto">
    <mat-card-subtitle class="givespace"><h3>ΕΙΣΑΓΩΓΗ ΒΑΘΜΩΝ</h3></mat-card-subtitle>
  <p>Για το πρώτο πεδίο εισάγουμε βαθμό στο μάθημα <b>λατινικά</b> ενώ για το τρίτο πεδίο εισάγουμε βαθμό στη <b>Βιολογία</b></p>
<form (ngSubmit)="onSubmit()" #f="ngForm" class="formmathimata">
  
  <mat-form-field>
    <input matInput  placeholder="Ν.Γλώσσα"  id="gloosaproto" ngModel required name="gloosaproto" type="number" #glossa="ngModel" [min]=0 [max]="20">
    <mat-error *ngIf="!glossa.valid && glossa.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput  id="arxaiaproto" placeholder="Αρχαία"  required ngModel name="arxaiaproto" type="number" #arxaiaproto="ngModel" [min]=0 [max]="20">
    <mat-error  class="help-block" *ngIf="!arxaiaproto.valid && arxaiaproto.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error >
    </mat-form-field>
  
  <mat-form-field>
 
    <input  matInput  placeholder="Ιστορία προσανατολισμού " id="istoriaproto"  required ngModel name="istoriaproto" type="number" #istoriaproto="ngModel" [min]=0 [max]="20">
    <mat-error  class="help-block" *ngIf="!istoriaproto.valid && istoriaproto.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία </mat-error>
  </mat-form-field>
  
  <mat-form-field>
      <mat-select placeholder="Επιλέξτε Μάθημα Επιλογής" id="mathimaepilogis" (selectionChange)="changelesson($event)">
          <mat-option [value]="1">Λατινικά</mat-option >
          <mat-option  [value]="2">Βιολογία</mat-option >
        </mat-select >
    </mat-form-field>

<mat-form-field *ngIf="islatinika">
    <input matInput id="latinikaproto" placeholder="Λατινικά" ngModel  name="latinikaproto" required type="number"  #latinikaproto="ngModel" [min]=0 [max]="20">
    <mat-error   class="help-block" *ngIf="!latinikaproto.valid && latinikaproto.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error >
  </mat-form-field>
  
<mat-form-field *ngIf="!islatinika">
      <input matInput  id="biologiaproto" placeholder="Βιολογία γενικής πεδίας" ngModel  name="biologiaproto" required type="number" #biologiaproto="ngModel" [min]=0 [max]="20">
      <mat-error  class="help-block" *ngIf="!biologiaproto.valid && biologiaproto.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error >
    </mat-form-field>
  

  <button mat-button class="btn btn-success" [disabled]="!f.valid"><span *ngIf="islatinika">ΥΠΟΛΟΓΙΣΜΟΣ 1ο Πεδίο</span><span *ngIf="!islatinika">ΥΠΟΛΟΓΙΣΜΟΣ 3ο Πεδίο</span></button>
  
</form>
</div>
<!-- <div class="col-md-7 moria">
    <mat-card-subtitle ><h3 class="givespace">ΥΠΟΛΟΓΙΣΜΟΣ ΜΟΡΙΩΝ</h3></mat-card-subtitle>
    <h6 *ngIf="islatinika">1ο Επιστημονικό Πεδίο Ανθρωπιστικών, Νομικών και Κοινωνικών Επιστημών: <span>{{ moriaproto | number :'1.0-0':'el'}}</span></h6> 
    <h6 *ngIf="!islatinika">3ο Επιστημονικό Πεδίο Επιστημών Υγείας και Ζωής:<span>{{ moriatrito | number :'1.0-0':'el' }}</span></h6>
</div> -->
</mat-card-content>