<mat-card-content>
    <div class="proto">
        <mat-card-subtitle class="givespace"><h3>ΕΙΣΑΓΩΓΗ ΒΑΘΜΩΝ</h3></mat-card-subtitle>
      <p>Για το πρώτο πεδίο εισάγουμε βαθμό στο μάθημα <b>Μαθηματικά προσανατολισμού</b> ενώ για το τρίτο πεδίο εισάγουμε βαθμό στη <b>Βιολογία προσανατολισμού</b></p>
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="formmathimata">
     
        <mat-form-field>
        <input matInput placeholder="Ν.Γλώσσα" class="form-control"  id="glossa"    ngModel required name="glossa" type="number" #glossa="ngModel" [min]=0 [max]="20">
        <mat-error class="help-block" *ngIf="!glossa.valid && glossa.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Μαθηματικά προσανατολισμού"  class="form-control" id="mathimatika"   required ngModel name="mathimatika" type="number" #mathimatika="ngModel" [min]=0 [max]="20">
        <mat-error class="help-block" *ngIf="!mathimatika.valid && mathimatika.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error>
      </mat-form-field>
      
       <mat-form-field>
        <input matInput placeholder="Α.Ε.Π.Π."  class="form-control" id="aepp"   required ngModel name="aepp" type="number" #aepp="ngModel" [min]=0 [max]="20">
        <mat-error class="help-block" *ngIf="!aepp.valid && aepp.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error>
       </mat-form-field>
      
       <mat-form-field> 
          <mat-select placeholder="Επιλέξτε Μάθημα Επιλογής" id="mathimaepilogis" (selectionChange)="changelesson($event)">
              <mat-option  [value]="1">Βιολογία γενικής παιδείας</mat-option>
                <mat-option  [value]="2">Α.Ο.Θ </mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field *ngIf="isbiologia">
        <input matInput placeholder="Βιολογία γενικής παιδείας" class="form-control" id="biologia" ngModel  name="biologia" required type="number"  #biologia="ngModel" [min]=0 [max]="20">
        <mat-error class="help-block" *ngIf="!biologia.valid && biologia.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error>
      </mat-form-field>
      
      <mat-form-field *ngIf="!isbiologia">   
          <input matInput placeholder="Α.Ο.Θ" class="form-control" id="aot" ngModel  name="aot" required type="number" #aot="ngModel" [min]=0 [max]="20">
          <mat-error class="help-block" *ngIf="!aot.valid && aot.touched">Παρακαλώ εισάγεται μια έγκυρη βαθμολογία</mat-error>
       </mat-form-field>
      
    
      <button mat-button class="btn btn-success" [disabled]="!f.valid"><span *ngIf="isbiologia">ΥΠΟΛΟΓΙΣΜΟΣ 3ο Πεδίο</span><span *ngIf="!isbiologia">ΥΠΟΛΟΓΙΣΜΟΣ 4ο Πεδίο</span></button>
      
    </form>
    </div>
    <!-- <div class="col-md-7 moria">
        <h4 class="givespace">ΥΠΟΛΟΓΙΣΜΟΣ ΜΟΡΙΩΝ</h4>
        <h6 *ngIf="isbiologia">3ο Επιστημονικό Πεδίο Επιστημών Υγείας και Ζωής: <span>{{moriatrito | number :'1.0-0':'el'}}</span></h6> 
        <h6 *ngIf="!isbiologia">4ο Επιστημονικό Πεδίο Επιστημών Οικονομίας και Πληροφορική:<span>{{moriatetarto | number :'1.0-0':'el'}}</span></h6>
    </div> -->
  </mat-card-content>